@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

/* Para eliminar el pading y margin de toda la pagina y no tenerlo por default */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Establecemos el tamaño de fuente base para una conversión más sencilla. */
html{
    font-size: 62.5%;  /* 1rem = 10px */
}

body {
    display: flex;
    position: relative;
    justify-content: center;
    --nav-height: 25rem;
    font-size: 1.6rem;
    height: 190vh;
    min-height: 100vh;
    padding-bottom: 100rem;
    flex-wrap: wrap;
    flex-direction:row;
    background-size: cover;
    background: url('./Logo/Background_Index.jpg') no-repeat content-box;
}

.header{
    height: var(--nav-height);
    width: 100%;
    padding: 5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    transition: transform 0.2s;
}
/* Estilos para el logotipo */
.logo{
    font-size: 2rem;
    color: white;
    user-select: none;
}
.img-logo figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-logo figure img{
    width: 20rem;
}

/* Estilos para los enlaces de navegación */
.navigation a {
    position: relative;
    font-size: 1.4em; /* 1.1rem = 11px (recordando que 1rem = 10px) */
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
/* Estilos para la animación de los enlaces de navegación al pasar el ratón */
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
/* Estilos cuando se pasa el ratón por encima de los enlaces de navegación */
.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}
/* Estilos para el botón "bthLogin-popup" en la navegación */
.navigation .bthLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.7rem;
    color: #ffffff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
/* Estilos cuando se pasa el ratón por encima del botón "bthLogin-popup" */
.navigation .bthLogin-popup:hover {
    background: #ffffff;
    color: #162938;
}


/*Aqui empieza el css para el form de registro y login*/
.container-login-registro{
    position: relative;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    height: -webkit-fill-available;
}
.wrapper {
    position: relative;
    width: 44rem;
    height: 40rem;
    background: black;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(40px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}
.wrapper.active-popup {
    transform: scale(1);
}
.wrapper.active {
    height: 520px;
}
.wrapper .form-box {
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login {
    transition: transfrom .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-40rem);
    /* transform: translateY(70rem); */
}
.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(40rem);
    /* transform: translateY(100rem); */
}
.wrapper.active .form-box.register {
    transition: transfrom .18s ease;
    transform: translateX(0);
}
.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #154b6a;
    font-size: 2em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-box h2 {
    font-size: 2em;
    color: white;
    text-align: center;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
    background: transparent;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: white;
    line-height: 57px;
}
.remember-forgot {
    font-size: .9em;
    color: white;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
 .remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
} 
.remember-forgot a {
    color: white;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.bth {
    width: 100%;
    height: 45px;
    background: #154b6a;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #faf7f7;
    font-weight: 500;
}
.login-register {
    font-size: .9em;
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover {
    text-decoration: underline;
}
/* Aqui termina y empieza el footer */


/*Info de la empresa, Footers*/
.footer1{
    padding: 1rem 1rem;
    position: absolute;
    /* height: 50vh; */
    /* padding-bottom: 110vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0a1a2a;
    color: white;
    bottom: 0; 
}
.footer1 .footer-social {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    padding: 4.5rem 0rem;
}
.footer1 .footer-social .box1 figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.footer1 .footer-social .box1 figure img{
    width: 20rem;
}
.footer1 .footer-social .box .box3 h2{
    color: #ffffff;
    margin-bottom: 2.5rem;
    font-size: 2rem;
}
.footer1 .footer-social .box .box3 p{
    color: #efefef;
    margin-bottom: 1rem;
}
.footer1 .footer-social .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    color: white;
    margin-right: 14rem;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
    
}
.footer1 .footer-social .red-social a:hover{
    color: aqua;
}
.footer1 .footer-info{
    background-color: #0a1a2a;
    padding: 1.5rem 1rem;
    text-align: center;
    width: 100%;
    color: #ffffff;
}
.footer1 .footer-info small{
    font-size: 1.5rem;
}
